body{
  margin:0;
  font-family:sans-serif;
  background:#111;
  color:#fff;
  padding-bottom:70px;
}

.container{padding:20px;}

.page{display:none;}
.page.active{display:block;}

.nav{
  position:fixed;
  bottom:0; left:0;
  width:100%;
  background:#222;
  display:flex;
  justify-content:space-around;
  padding:10px 0;
  color:#ccc;
}

.nav-item{
  display:flex;
  flex-direction:column;
  align-items:center;
  font-size:14px;
  cursor:pointer;
}

.nav-item.active{
  color:#fff;
  font-weight:bold;
}

.profile-card{
  background:#222;
  padding:20px;
  border-radius:10px;
}

.avatar{width:90px;height:90px;border-radius:50%;}

.chatBox{
  display:flex;
  gap:10px;
}

#chatArea{
  height:250px;
  overflow:auto;
  border:1px solid #444;
  padding:10px;
  margin-bottom:10px;
} 
